<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Hello Adonis</title>
  	<script src="{{ assetsUrl('js/app.js') }}" defer></script>
	<link rel="dns-prefetch" href="https://fonts.gstatic.com">
	<link href="{{ assetsUrl('css/app.css') }}" rel="stylesheet">
</head>
<body>
  Start development here
</body>
</html>
