@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600");
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1849A2;
$indigo: #6574cd;
$dark_blue :#0C2666;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$grey :#999999;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #73D1EC;